<div class="container">
<table>
  <tr>
    <td>Pid</td>
    <td><input type="number" [(ngModel)]="pid"></td>
  </tr>
  <tr>
    <td>Pname</td>
    <td><input type="text" [(ngModel)]="pname"></td>
  </tr>
  <tr>
    <td>Price</td>
    <td><input type="number" [(ngModel)]="price"></td>
  </tr>
  <tr>
    <td>Stock</td>
    <td><input type="number" [(ngModel)]="stock"></td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="btn-primary" (click)="Add()">New</button>
    </td>
  </tr>
    

</table>
</div>
